<%- include("header") -%>
    <div class="box" id="heading">
      <h1><%= listTitle %></h1>
    </div>

    <!-- < % if (displayDay === "Saturday" || displayDay === "Sunday") { %>
      <h1 style="color: blue;">< %= displayDay %></h1>
    < % } else { %>
      <h1 style="color: red;">< %= displayDay %></h1>
    < % } %> -->
    <div class="box">
      <!-- < % for(var i = 0; i < newListItems.length; i++) { %>
        <div class="item">
          <input type="checkbox">
          <p>< %= newListItems[i].name %></p>
        </div>
      < % } %> -->
      <% newListItems.forEach(function(item) { %>
        <form action="/delete" method="post">
          <div class="item">
            <input type="checkbox" name="checkbox" value=<%= item.id %> onChange="this.form.submit()">
            <p><%= item.name %></p>
          </div>
          <input type="hidden" name="listName" value=<%= listTitle %>>
        </form>
      <% }) %>
      <form class="item" action="/" method="post">
        <input type="text" name="newList" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value=<%= listTitle %>>+</button>
      </form>
    </div>
    <%- include("footer") -%>
